<% include ./partials/header %>

    <div class="container">
        <div class="col-md-6 col-sm-12" class="row">
            <div style="width: 60%; margin: 25px auto;">
                <h1>Login</h1>
                <form action="/login" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>
                </form>
                <div style="text-align: center;">
                    <a href=" /register " class="btn">
                        New User <span class="glyphicon glyphicon-user "></span> 
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>