/*img {*/


/*    height: 300px;*/


/*    width: 500px;*/


/*}*/

.submit-btn {
    background-color: #b1dbff;
    margin: 10px 0 10px 0;
}

.spacing-border {
    margin: 10px 0 10px 0;
}

#form-handle {
    width: 30%;
    margin: 30px auto;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

#onlyonimage {
    width: 100%;
    height: 171px;
}

.thumbnail {
    padding: 0;
}

.flex-display {
    display: flex;
    flex-wrap: wrap;
}

.inline-elements {
    display: inline;
}

.flash-msg {
    text-align: center;
    border-radius: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

body {
    padding-top: 70px;
}